@page
@using Framework
@model STS.Endpoints.RazorPages.Areas.Admin.Pages.Orders.IndexModel
@{
    ViewData["Title"] = "استارسرویس > مدیریت سفارش ها > لیست سفارش ها";
}

<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

<div class="col-lg-12">
    <div class="portlet box shadow">
        <div class="portlet-heading">
            <div class="portlet-title">
                <h3 class="title">
                    سفارش ها
                </h3>
            </div><!-- /.portlet-title -->
        </div><!-- /.portlet-heading -->
        <div class="portlet-body">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="data-table-SubCategory">
                        <thead>
                            <tr>
                                <th>شناسه</th>
                                <th>قیمت پیشنهادی</th>
                                <th>سرویس مربوطه</th>
                                <th>سفارش دهنده</th>
                                <th>تاریخ پیشنهادی</th>
                                <th>فعال یا غیرفعال</th>
                                <th>وضعیت کنونی سفارش</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in @Model.Orders)
                            {
                                <tr>
                                    <td>@order.Id</td>
                                    <td>@order.OrderedPrice</td>
                                    <td>@order.TaskName</td>
                                    <td>@order.ClientName</td>
                                    <td>@order.DoAt.ToPersianString("yyyy/MM/dd")</td>
                                    <td>@order.IsAccepted.ToPersianStatus()</td>
                                    <td>@order.OrderStatus.GetEnumDisplayName()</td>
                                    <td>
                                        @if (order.IsAccepted)
                                        {
                                            <a asp-page-handler="Reject" asp-route-Id="@order.Id" class="btn btn-danger">غیرفعال</a>
                                        }
                                        else
                                        {
                                            <a asp-page-handler="Accept" asp-route-Id="@order.Id" class="btn btn-success">فعال</a>
                                        }
                                        <a asp-area="Admin" asp-page="/Suggestions/Index" asp-route-Id="@order.Id" class="btn btn-warning">نمایش پیشنهادات</a>
                                        <a asp-page="OrderDetails" asp-route-Id="@order.Id" class="btn btn-blue">تغییر وضعیت</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- /.portlet-body -->
    </div><!-- /.portlet -->
</div><!-- /.col-lg-12 -->
@section Scripts
{
    <script src="~/AdminTemplate/plugins/data-table/js/jquery.dataTables.min.js"></script>
    <script src="~/AdminTemplate/js/pages/datatable.js"></script>
}