@page
@using Framework
@model STS.Endpoints.RazorPages.Areas.Admin.Pages.FeedBacks.IndexModel
@{
    ViewData["Title"] = "استارسرویس > مدیریت کامنت ها > لیست کامنت ها";
}
<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

<div class="col-lg-12">
    <div class="portlet box shadow">
        <div class="portlet-heading">
            <div class="portlet-title">
                <h3 class="title">
                    کامنت ها
                </h3>
            </div><!-- /.portlet-title -->
        </div><!-- /.portlet-heading -->
        <div class="portlet-body">
            <div class="top-buttons-box mb-2"></div>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="data-table-FeedBacks">
                        <thead>
                            <tr>
                                <th>شناسه</th>
                                <th>امتیاز از 1 تا 5</th>
                                <th>توضیحات</th>
                                <th>نام کامنت کننده</th>
                                <th>نام متخصص مربوطه</th>
                                <th>وضعیت</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var feedBack in @Model.FeedBacks)
                            {
                                <tr>
                                    <td>@feedBack.Id</td>
                                    <td>
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            if (i <= feedBack.Rating)
                                            {
                                                <i class="fas fa-star text-warning"></i> @* Filled Star *@
                                            }
                                            else
                                            {
                                                <i class="far fa-star text-warning"></i> @* Empty Star *@
                                            }
                                        }
                                    </td>
                                    <td>@feedBack.Comment</td>
                                    <td>@feedBack.ClientName</td>
                                    <td>@feedBack.ExpertName</td>
                                    <td>@feedBack.IsAccepted.ToPersianStatus()</td>
                                    <td>
                                    @if (feedBack.IsAccepted)
                                    {
                                        <a asp-page-handler="Reject" asp-route-Id="@feedBack.Id" class="btn btn-danger">رد</a>
                                    }
                                    else
                                    {
                                        <a asp-page-handler="Accept" asp-route-Id="@feedBack.Id" class="btn btn-success">تایید</a>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- /.portlet-body -->
    </div><!-- /.portlet -->
</div><!-- /.col-lg-12 -->
@section Scripts
{
    <script src="~/AdminTemplate/plugins/data-table/js/jquery.dataTables.min.js"></script>
    <script src="~/AdminTemplate/js/pages/datatable.js"></script>
}